.page {
  width: min(1140px, 100% - 34px);
  margin: 0 auto;
  padding: 24px 0 54px;
  position: relative;
}

@media (max-width: 760px) {
  .page {
    width: min(1140px, 100% - 18px);
    padding-top: 16px;
  }
}
